@import "src/theme/variables.scss";

ion-toolbar {
  --background: #039BE6;
  --color: white;
}

ion-content {
  --background: #2D2D51;
  color: #fff;
}

.titulo-header {
  font-weight: bold;
}

.container {
  --background: #{$dark-blue};
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  padding-top: 0px;

  ion-card {
    width: 100%;
    max-width: 500px;
    padding: 10px;
  }

  .errores {
    display: flex;
    flex-direction: column;
    color: red;
  }

  @media (min-width: 550px) {
    ion-card {
      max-width: 515px;
    }
  }
}
