<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar style="display: flex; justify-content: center; align-items: center; height: 80px;">
    <ion-title class="titulo-header " style="margin-top: 10px; font-size: 25px;">Alta cliente anónimo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card style="width: 95%;background-color: #414068;">
      <ion-card-header>
        <ion-card-title style="font-size: 3rem;">Ingresar como cliente anónimo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-margin-bottom">
        </div>
        <form [formGroup]="frmCliente" (ngSubmit)="subirCliente()">
          <div class="nombre">
            <ion-input label="Nombre" type="text" formControlName="nombre" name="name" required ngDefaultControl>
            </ion-input>
            <div class="errores" *ngIf="frmCliente.controls['nombre'].dirty && frmCliente.controls['nombre'].errors">
              <small *ngIf="frmCliente.controls['nombre'].errors['required']">Debe rellenar este campo.</small>
              <small *ngIf="frmCliente.controls['nombre'].errors['pattern']">Compruebe el texto ingresado.</small>
            </div>
          </div>
          <ion-button type="submit" expand="block" [disabled]="frmCliente.invalid">
            Ingresar
          </ion-button>
        </form>
        <br />
        <ion-text style="color: white; font-weight: 100;font-size: 15px; font-weight: bold;">Quiero formar parte de sus
          clientes!
          <a style="font-size: 15px;font-weight: bold;" routerLink="/alta-cliente">Registrarse</a>.
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>