<ion-content>
  <div class="ahorcado-container">
    <ion-text color="primary">
      <h1>Ahorcado de comidas</h1>
    </ion-text>

    <div class="imagen-ahorcado">
      <img [src]="obtenerImagenAhorcado()" alt="Ahorcado">
    </div>

    <ion-text>
      <h3>Adivina la palabra</h3>
    </ion-text>

    <div class="palabra-oculta">
      {{ palabraOculta }}
    </div>

    <div class="intentos">
      <p>Intentos fallidos: {{ intentos }} / {{ maxIntentos }}</p>
      <p>Letras fallidas: {{ letrasFalladas.join(', ') }}</p>
    </div>

    <div class="teclado">
      <button *ngFor="let letra of 'abcdefghijklmnopqrstuvwxyz'.split('')" 
              (click)="comprobarLetra(letra)" 
              [disabled]="letrasAdivinadas.includes(letra) || letrasFalladas.includes(letra)">
        {{ letra | uppercase }}
      </button>
    </div>
    <div *ngIf="juegoTerminado">
      <p *ngIf="intentos >= maxIntentos" class="palabra-correcta">
        ¡Has perdido! La palabra era: <strong>{{ palabra }}</strong>
      </p>
      <p *ngIf="intentos < maxIntentos && !palabraOculta.includes('_')">¡Has ganado!</p>
      <!-- <p *ngIf="ganoConDescuento" class="palabra-correcta">
        ¡Ganaste en el primer intento! 🎉 ¡Tenés un <strong>descuento especial</strong>!
      </p> -->
      <button (click)="reiniciar()" class="boton-reiniciar">Reiniciar</button>
    </div>
  </div>
</ion-content>
