.ahorcado-container {
  font-family: system-ui;
  text-align: center;
  padding: 16px;
  margin: 1rem auto;
  background-color: #5623ed;
  border-radius: 16px;
  border: 2px solid #000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 95%;
  max-width: 500px;
}

.imagen-ahorcado img {
  width: 120px;
  height: 140px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.palabra-oculta {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin-bottom: 5px;
  color: #000000;
  text-transform: uppercase;
  word-break: break-word;
}

.intentos {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.teclado {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.teclado button {
  padding: 8px;
  margin: 4px;
  font-size: 24px;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  background-color: #000000;
  border: 1.5px solid #000;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.teclado button:hover {
  background-color: #eec1c1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.teclado button:disabled {
  background-color: #d8d8d8;
  color: #fff;
  cursor: not-allowed;
}

button {
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}

.boton-reiniciar {
  background-color: #af4ca3;
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid #000;
  padding: 6px 14px;
}

.palabra-correcta {
  font-size: 1.1rem;
  color: #000;
  margin-top: 0.5rem;
}

.boton-cerrar {
  --border-radius: 50%;
  width: 36px !important;
  height: 36px !important;
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  margin: 1.5rem auto 0; /* margen arriba, centrado horizontal */
  display: block; /* para que margin auto funcione */
  min-width: unset !important;
  --background: #dc3545;
  --color: white;
}
