@import "src/theme/variables.scss";

ion-toolbar {
  --background: #039BE6;
  --color: white;
}

ion-content {
  --background: #2D2D51;
  color: #fff;
}

.titulo-header {
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-card-title {
    font-size: 30px;
  }

  p,
  ion-button {
    font-size: 25px;
  }
}

ion-card{
  margin-top: 50px;
  width: 90%;
  height: fit-content;
  --background: #414068;

}

ion-button {
  --background: #039BE6;
  --color: white;
  padding: 5px;
}