<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar color="primary"
    style="background-color:#039BE6;color:white;height:70px;display:flex;align-items:center;justify-content:center;">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:2rem;">Clientes en espera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container" style="background-color: #2D2D51;">
    <ion-list *ngIf="clientesEsperando.length > 0; else noClientes" class="ion-padding-vertical"
      style="background-color: #2D2D51;">
      <ion-card *ngFor="let cliEspera of clientesEsperando"
        class="item-card ion-no-margin ion-margin-bottom ion-no-padding">
        <ion-card-header class="ion-text-center">
          <div class="img-container">
            <img [src]="cliEspera.foto_url" />
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title style="text-align: center;">
            {{cliEspera.nombre}} {{cliEspera.tipo === 'anonimo' ? '(Anónimo)' :
            cliEspera.apellido}}
          </ion-card-title>
          <ion-button expand="block" (click)="selecCliente(cliEspera)">ASIGNAR</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-list>
    <ng-template #noClientes>
      <div id="noClientes">
        <ion-card style="background-color: #2D2D51;">
          <ion-card-header class="ion-text-center">
            <ion-card-title>No hay clientes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Parece que no hay clientes en lista de espera..</p>
            <br>
            <ion-button expand="block" routerLink="/home">Ir al Inicio</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-template>
  </div>
</ion-content>