<div style="height: 100vh; display: flex; justify-content: center; align-items: center; padding: 1rem">
  <div style="max-height: 50vh; overflow: auto; width: 100%">
    <table *ngIf="mesas.length > 0; else sinMesas">
      <thead>
        <tr>
          <th id="nroMesa">Nro Mesa</th>
          <th id="tipo">Tipo</th>
          <th id="cantComensales">Comensales</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let mesa of mesas" (click)="selecMesa(mesa)">
          <td style="text-align: center">
            <button>#{{ mesa.nroMesa }}</button>
          </td>
          <td style="text-align: center">{{ mesa.tipo }}</td>
          <td style="text-align: center">{{ mesa.cantComensales }}</td>
        </tr>
      </tbody>
    </table>

    <ng-template #sinMesas>
      <ion-card>
        <ion-card-header>
          <ion-card-title>No hay mesas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Ahora mismo no hay mesas disponibles. Su celular le notificará cuando se libere una.</p>
          <ion-button expand="block" (click)="modalCtrl.dismiss()">Ir a lista de espera</ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>
</div>
