<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar style="background-color:#039BE6;color:rgb(0, 0, 0);padding-top:20px;">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:1.6rem; font-weight: bold">Clientes pagando</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card style="width: 95%">
      <ion-card-header>
        <ion-card-title>Pagos a confirmar</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list id="lista" style="background-color:#414068">
          @for (pedido of pedidos; track $index) {
          @for (cliente of clientes; track $index) {
          @if (pedido.idCliente == cliente.id) {
          @for (mesa of mesas; track $index) {
          @if (mesa.id == cliente.idMesa) {
          <ion-item>
            <div class="pedido">
              <ion-button style="background-color:#1e1e1e;border-radius:15px;border: 2px solid white;" expand="fill"
                fill="clear" size="large" (click)="mostrarPedido(pedido)">
                <ion-icon slot="icon-only" name="receipt-outline" style="color:white;"></ion-icon>
              </ion-button>

              <div class="text">
                <ion-label>Mesa Nro{{mesa.nroMesa}}</ion-label>
                <ion-label><small>Confirmar pago</small></ion-label>
              </div>

              <div part="content" class="content">
                <div class="cont-prod">
                  <ion-button size="large" color="success" expand="fill" (click)="manejarEstadoMesa(pedido)">
                    <ion-icon slot="icon-only" aria-label="hidden" name="checkmark-circle-outline"
                      color="light"></ion-icon>
                  </ion-button>
                </div>
              </div>
            </div>
          </ion-item>
          }
          }
          }
          }
          }
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>