// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$dark-blue: #2b3444;
$blue: #5b6297;

$grey: #a0a4bb;
$dark-grey: #232323;
$black: #000000;
