// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

// Colores del logo
$green: #75a98e;
$blue: #5b6297;

$dark-blue: #36364a;
$grey: #a0a4bb;
$dark-grey: #3e4047;
$dark: #101012;
$mint: #21d19f;
