<ion-content>
  <!-- Cartel superior animado -->
  <div class="cartel-superior animacion-cartel">
    <ion-title class="nombre-texto">Grupo</ion-title>
    <img src="assets/logo-ntg.png" class="logo-grupo" />
  </div>

  <div class="ion-text-center splash-container">
    <div class="container">
      <img src="assets/logo-comanda.png" class="logo" />
    </div>

    <!-- Caja inferior modificada -->
    <div class="ion-text-center titulos cartel-inferior">
      <ion-title class="nombre-texto">Nahuel Borquez</ion-title>
      <ion-title class="nombre-texto">Antonio Aguirre</ion-title>
      <ion-title class="nombre-texto">Gianfranco Chiarizia</ion-title>
    </div>
  </div>
</ion-content>
