@import "src/theme/variables.scss";

ion-toolbar {
  --background: #{$blue};
  --color: white;
}

ion-content {
  --background: #{$dark-blue};
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8px;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: #{$dark-grey};
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-container {
  margin-bottom: 25px;
}

.input-label {
  color: white;
  font-size: 16px;
  margin-bottom: 8px;
}

.custom-input {
  --background: #{$dark-blue};
  --color: white;
  --padding-start: 15px;
  --padding-end: 15px;
  --placeholder-color: #aaa;
  border-radius: 5px;
  height: 50px;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-button {
  --background: #3a3a5a;
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.action-button.secondary {
  --background: #2a2a3a;
}

.login-btn {
  --background: #3a3a5a;
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.registro-btn {
  --background: #{$black};
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.registro-anon-btn {
  --background: #{$blue};
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

// Header styles
ion-menu {
  --background: #2d2d3a;
  color: white;
}
ion-item {
  --color: white;
}

.menu-toolbar {
  --background: #{$blue};
  --color: white;
}
/* Estilos para el header */
.header-fix ion-toolbar {
  --border-width: 0;
}

.header-fix ion-title {
  font-size: 20px;
  font-weight: bold;
}
