@import "src/theme/variables.scss";

ion-toolbar {
  --background: #039BE6;
  --color: white;
}

ion-content {
  --background: #2D2D51;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  max-width: 400px;
  background-color: #414068;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-container {
  margin-bottom: 25px;
}

.input-label {
  color: white;
  font-size: 20px;
  margin-bottom: 8px;
}

.custom-input {
  --background: #{$dark-blue};
  --color: white;
  --padding-start: 15px;
  --padding-end: 15px;
  --placeholder-color: #aaa;
  border-radius: 5px;
  height: 50px;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.action-button {
  --background: #24B4F8;
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.action-button.secondary {
  --background: #24B4F8;
  font-weight: normal;
}

.login-btn {
  --background: #24B4F8;
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.registro-btn {
  --background: #b524f8;
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.registro-anon-btn {
  --background: #f824a0;
  --color: white;
  --border-radius: 5px;
  height: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

// Header styles
ion-menu {
  --background: #039BE6;
  color: white;
}
ion-item {
  --color: white;
  --background: #201d44;
  font-size: 20px;
}

.menu-toolbar {
  --background: #039BE6;
  --color: white;
}
/* Estilos para el header */
.header-fix ion-toolbar {
  --border-width: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-fix ion-title {
  font-size: 20px;
  font-weight: bold;
}

.logo {
  -webkit-animation: scale-down-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    1s both;
  animation: scale-down-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  height: 120px;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}