<ion-menu contentId="main-content" side="start" menuId="customMenu">
  <ion-header>
    <ion-toolbar class="menu-toolbar">
      <ion-title>Acceso rapido</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="autocompletarLogin(1)" menuClose>Dueño</ion-item>
      <ion-item button (click)="autocompletarLogin(2)" menuClose>Supervisor</ion-item>
      <ion-item button (click)="autocompletarLogin(3)" menuClose>Maitre</ion-item>
      <ion-item button (click)="autocompletarLogin(4)" menuClose>Mozo</ion-item>
      <ion-item button (click)="autocompletarLogin(5)" menuClose>Cocinero</ion-item>
      <ion-item button (click)="autocompletarLogin(6)" menuClose>Bartender</ion-item>
      <ion-item button (click)="autocompletarLogin(7)" menuClose>Cliente Registrado</ion-item>
      <ion-item button (click)="autocompletarLogin(8)" menuClose>Cliente Anónimo</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: 23px;">Inicio de sesión</ion-title>
    <ion-buttons slot="end">
      <ion-button class='boton-home' (click)="volverAlHome()">
        <img src="../../../assets/home.png" style="height: 30px;" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding content-with-safe-area" id="main-content">
<div class="ion-text-center splash-container">
    <div class="container">
      <img src="assets/comanda-negro.png" class="logo" />
    </div>
</div>  <div class="login-container">
    <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="input-container">
          <div class="input-label">Correo</div>
          <ion-input type="email" placeholder="correo@ejemplo.com" formControlName="email" fill="clear"
            class="custom-input"></ion-input>
        </div>

        <div class="input-container">
          <div class="input-label">Clave</div>
          <ion-input type="password" placeholder="**********" formControlName="password" fill="clear"
            class="custom-input"></ion-input>
        </div>

        <div class="error">
          <!-- aca los error de login invalido, contrasena invalida, correo invalido etc -->
        </div>
        <div class="buttons-container">
          <ion-button expand="block" class="login-btn" (click)="login()">
            INGRESAR
          </ion-button>
          <ion-button expand="block" class="action-button secondary" (click)="limpiarInputs()">
            BORRAR CAMPOS
          </ion-button>
          <ion-button expand="block" class="registro-btn" routerLink="/alta-cliente">
            REGISTRARSE
          </ion-button>
          <ion-button expand="block" class="registro-anon-btn" routerLink="/alta-cliente-anon">
            INGRESAR DE FORMA ANÓNIMA
          </ion-button>
        </div>
      </form>

      <!-- <ion-button expand="block" class="btn btn-primary" routerLink="/alta-supervisor">
        Registrar Dueño
      </ion-button>
      <ion-button expand="block" class="btn btn-primary" routerLink="/alta-empleado">
        Alta Empleado
      </ion-button>
      <ion-button expand="block" class="btn btn-primary" routerLink="/alta-producto">
        Alta Producto
      </ion-button>
      <ion-button expand="block" class="btn btn-primary" routerLink="/alta-mesa">
        Alta Mesa
      </ion-button> -->

      <!-- <button (click)="enviarPush()">Enviar notificación</button> -->

    </div>
  </div>
</ion-content>