<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar color="primary"
    style="background-color:#039BE6;color:white;height:70px;display:flex;align-items:center;justify-content:center;">
    <ion-buttons slot="start">
      <ion-back-button (click)="navCtrl.navigateRoot('lista-encuestas-cliente')"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size:2rem;">Gráficos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card style="width: 95%;">
      <ion-card-content>
        <br>
        <div class="button-container">
          <ion-button class="custom-icon-button" (click)="mostrarGrafico1()">
            <ion-icon slot="icon-only" name="bar-chart-outline"></ion-icon>
          </ion-button>

          <ion-button class="custom-icon-button" (click)="mostrarGrafico2()">
            <ion-icon slot="icon-only" name="analytics"></ion-icon>
          </ion-button>

          <ion-button class="custom-icon-button" (click)="mostrarGrafico3()">
            <ion-icon slot="icon-only" name="pie-chart-outline"></ion-icon>
          </ion-button>
        </div>
        <br>
        <div *ngIf="mostrarGraficoBarras===true">
          <div style="height: 500px; width: 100%; background-color: #2D2D51; border-radius: 30px;">
            <canvas #barChart></canvas>
          </div>
        </div>

        <div *ngIf="mostrarGraficoLineas===true">
          <div style="height: 500px; width: 100%; background-color: #2D2D51; border-radius: 30px;">
            <canvas #lineChart></canvas>
          </div>
        </div>

        <div *ngIf="mostrarGraficoTorta===true">
          <div style="height: 500px; width: 100%; background-color: #2D2D51; border-radius: 30px;">
            <canvas #doughnutChart></canvas>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>