/* —— Tabla del pedido —— */
table {
  width: 100%;
  margin: 1rem auto;
  border-collapse: collapse;
  font-family: "Gill Sans", sans-serif;
  font-size: 16px;
  color: #2a2a2a;
  background: rgba(207, 220, 150, 0.5);
  border: 3px solid #dee2e6;
  max-height: 40vh;
  border-radius: 20px;
}

thead {
  position: sticky;
  top: 0;
  background: #2d2d51;
  color: #fff;
}

th {
  padding: 10px 5px;
  text-align: center;
  font-size: 18px;
  border-right: 1px solid #2673c0;
}

th:last-child {
  border-right: none;
}

th#cant {
  width: 20%;
}

th#nombre {
  width: 80%;
}

tbody tr {
  height: 3rem;
}

tbody tr:nth-child(odd) {
  background: #f8f9fa;
}

tbody tr:nth-child(even) {
  background: #e9ecef;
}

td {
  padding: 10px 5px;
  font-size: 22px;
  text-align: center;
}

/* Cantidad en azul e

gruesa */
tbody td:first-child {
  color: #02a4ff;
  font-weight: 600;
}

/* —— Pie de tabla —— */
tfoot {
  position: sticky;
  bottom: 0;
  background: #f1f1f1;
  font-weight: bold;
}

tfoot td {
  padding: 10px 5px;
  font-size: 22px;
  border-top: 2px solid #dee2e6;
  text-align: center;
}

.total-label {
  text-align: right;
  color: #2a2a2a;
  text-align: center;
}

.total-tiempo {
  color: #dc3545;
}
