<ion-header [translucent]="true" class="header-fix" >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista clientes pendientes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card style="width: 95%">
      <ion-card-header>
        <ion-card-title>Clientes pendientes</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- Grid de 2 columnas de tarjetas -->
        <div id="lista" *ngIf="clientes.length > 0; else noClientes">
          @for (cliente of clientes; track cliente.id) {
          <ion-card class="cliente-card">
            <!-- 📸 Imagen grande arriba -->
            <img
              class="cliente-foto"
              [src]="cliente.foto_url"
              alt="Foto de {{ cliente.nombre }}"
            />

            <!-- 📝 Nombre completo -->
            <ion-card-header>
              <ion-card-title style="font-size: 30px;"
                >{{ cliente.nombre }} {{ cliente.apellido }}</ion-card-title
              >
            </ion-card-header>

            <!-- ✅❌ Botonera centrada -->
            <ion-card-content style="background-color: #039BE6;">
              <div class="btn-group">
                <ion-button
                  color="danger"
                  fill="solid"
                  (click)="manejarCliente(cliente, 'rechazado')"
                >
                  <ion-icon name="remove-circle-outline"></ion-icon>
                </ion-button>

                <ion-button
                  color="success"
                  fill="solid"
                  (click)="manejarCliente(cliente, 'aceptado')"
                >
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
          }
        </div>
        <ng-template #noClientes>
          <div id="noClientes">
            <ion-card>
              <ion-card-header>
                <ion-card-title>No hay clientes</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p>Parece que no hay clientes en lista de espera.</p>
                <ion-button expand="block" routerLink="/home"
                  >Ir a Inicio</ion-button
                >
              </ion-card-content>
            </ion-card>
          </div>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
