<ion-header [translucent]="true" class="header-fix">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
    </ion-buttons>
    <ion-title class="titulo-header">Pagina principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="main-content">
  <div class="container" style="font-size: 30px; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div *ngIf="!user">
      <h1 class="titulo-inicio" style="margin-top: 40px; font-size: 40px;">Bienvenido</h1>
      <p class="descripcion-inicio">Debes estar registrado para poder utilizar la app.</p>

      <ion-button size="big" style="height: 70px;" (click)="goToLogin()">Iniciar Sesión</ion-button>
      <br/>
      <ion-button size="big"style="height: 70px;"  (click)="goToRegister()">Crear una Cuenta</ion-button>
    </div>

    <div *ngIf="user" class="botones-inicio">
      <h1 >Bienvenido/a</h1>
      <h1 class="titulo-inicio">{{usuarioActual?.nombre}} {{usuarioActual?.apellido}}</h1>
      <h1 class="titulo-mail">Ingresaste como {{ user.email }}</h1>
      <!-- JEFE -->
      <div *ngIf="user && this.usuarioActual?.rol == 'jefe'">
        <ion-button size="big" routerLink="/lista-clientes-pendientes">Lista clientes pendientes</ion-button>
      </div>
      <!-- EMPLEADO -->
      <div
        *ngIf="user && (this.usuarioActual?.rol == 'empleado' || this.usuarioActual?.rol == 'cocinero' || this.usuarioActual?.rol == 'mozo' || this.usuarioActual?.rol == 'bartender' || this.usuarioActual?.rol == 'maitre')">
      </div>
      <!-- mozo cocinero bartender-->
      <div
        *ngIf="user && (this.usuarioActual?.rol == 'cocinero' || this.usuarioActual?.rol == 'mozo' || this.usuarioActual?.rol == 'bartender')">
        <ion-button size="big" routerLink="/lista-pedidos-pendiente">Pedidos pendientes</ion-button>
      </div>
      <!-- maitre -->
      <div *ngIf="user && this.usuarioActual?.rol == 'maitre'">
        <ion-button size="big" routerLink="/lista-espera">Lista de clientes en espera</ion-button>
      </div>
      <!-- CLIENTE -->
      <div *ngIf="user && this.usuarioActual?.rol == 'cliente'">
        <!-- <ion-button size="big" (click)="pruebaMesa()">boton ej cliente</ion-button> -->
        <ion-button size="big" routerLink="/juego">boton ej cliente</ion-button>
        <ion-button size="big" (click)="pruebaMesa()">boton ej cliente</ion-button>

      </div>
    </div>

    <!-- OPCIONES USUARIOS -->

  </div>

  <!-- FABs visibles solo cuando hay usuario logueado -->
<ion-fab *ngIf="user" vertical="bottom" horizontal="center" slot="fixed">
  <div class="fab-wrapper">
    <!-- Cerrar sesión -->
    <ion-fab-button class="fab-btn fab-logout" (click)="logout()">
      <ion-icon size="large" name="exit-outline"></ion-icon>
    </ion-fab-button>

    <!-- Escanear QR -->
    <ion-fab-button class="fab-btn fab-qr" (click)="escanearQr()">
      <!-- Icono vectorial o tu PNG -->
      <ion-icon size="large" name="qr-code-outline"></ion-icon>
      <!--  Si prefieres la imagen que ya usas:
      <img src="../../../assets/qr.png" class="fab-img" />
      -->
    </ion-fab-button>
  </div>
</ion-fab>
</ion-content>