@import "src/theme/variables.scss";

ion-toolbar {
  --background: #{$blue};
  --color: white;
  font-weight: bold;
}

ion-content {
  --background: #{$dark-blue};
  color: #fff;
}

.titulo-header {
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8px;
}

.boton-logout {
  font-weight: bold;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.titulo-inicio {
  font-size: 25px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin: 0 0 1rem 0;
  font-family: "system-ui", sans-serif;
  font-weight: bold;
}

.descripcion-inicio {
  font-size: 20px;
  color: #639d4c;
  text-align: center;
  width: 100%;
  margin: 0 0 2rem 0;
  font-family: "system-ui", sans-serif;
  font-weight: bold;
}

/* Nuevos estilos para el contenedor QR */
.qr-container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  background: transparent;
}

.btn_qr {
  width: 98%;
  height: 50px;
  margin: 0;
  --border-radius: 8px; /* Opcional: bordes redondeados */
}

.img_qr {
  width: 24px; /* Tamaño ajustado para mejor proporción */
  height: 24px;
}
