@import "src/theme/variables.scss";

ion-content {
  --background: #2d2d51;
  color: #fff;
}

/* Contenedor principal */
ion-card {
  margin: 0.5rem;
  background-color: #414068;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ion-card-header {
    padding-bottom: 0;
  }

  .control {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ffffff44;

    .label {
      color: white;
      font-size: 1.2rem;
      font-weight: 500;
    }

    .input,
    .input textarea {
      width: 100%;
    }
  }
}
