<div class="encuesta-container">
  <ion-card>
    <ion-card-header>
      {{cliente.tipo | uppercase}} {{cliente.nombre}} {{cliente.apellido}}
    </ion-card-header>
    <ion-card-content>
      Puntuación general del resturante:
      <app-range-estrellas [idEstrellas]="'aux'+encuesta.id" [readonly]="true"
        [valor]="encuesta.puntuacionGeneral"></app-range-estrellas>

      <div *ngIf="encuesta.fotoUrls.length > 0" class="fotos-container">
        Fotos adjuntas:
        <div class="fotos-scroll">
          <!-- <div *ngFor="let foto of encuesta.fotoUrls" class="foto-item">
            <img [src]="foto">
          </div> -->
          <div *ngFor="let foto of this.fotosParseadas" class="foto-item">
            <img [src]="foto">
          </div>
        </div>
      </div>

      <div *ngIf="encuesta.atencion; else ningunAspecto" class="buenosAspectos">
        <ion-text>Calificacion de la atención:</ion-text>
        <div class="aspectos">
          <span>
            {{encuesta.atencion}}</span>
        </div>
      </div>
      <ng-template #ningunAspecto>
        Ningún aspecto se encontraba en buenas condiciones.
      </ng-template>

      <div class="comentarios">
        Comentarios del cliente:
        <p style="font-size: 30px;">{{encuesta.comentarios}}</p>
      </div>
    </ion-card-content>
  </ion-card>
</div>