

.container {
  align-content: center;

  ion-card-header {
    padding: 0;

    ion-button {
      align-self: flex-start;
    }
  }

  ion-card-content {
    background-color: #1f1f1f;
    // background: url('../../../assets/chat-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    height: 75vh;

    #mensajes {
      overflow-y: auto;
      margin-bottom: 2.5rem;

      .msg {
        display: flex;
        flex-direction: column;
        min-width: 50.01%;
        max-width: 80%;
        padding: 0.5rem;
        border-radius: 10px;
        padding-left: 10px;
        margin: 5px;

        &.enviado {
          align-self: flex-end;
          text-align: right;
          background-color: rgb(35, 159, 23);
        }

        &.recibido {
          align-self: flex-start;
          text-align: left;
          background-color: rgb(107, 107, 107);
        }

        ion-text {
          word-wrap: break-word;
          color: #1f1f1f;
        }

        .alias {
          ion-text {
            font-size: large;
            margin: 0;
          }
        }

        .texto {
          font-size: 1.5rem;
        }

        .fecha-derecha {
          align-self: flex-end;
        }

        .fecha-izquierda {
          align-self: flex-start;
        }

      }
    }
    .info-mesa {
      color: #333;
      font-weight: bold;
      padding-bottom: 1px;
      margin-bottom: 1px;
      align-self: flex-end;
      font-size: 1rem;
      max-width: fit-content;
    }

    .card-body::-webkit-scrollbar {
      display: none;
    }

    .card-footer {
      position: fixed;
      width: 90%;
      bottom: 0;
      color: rgb(94, 5, 94);

      #enviar:active {
        transform: scale(0.7);
      }
    }
  }
}