/* chat.component.scss */
.container {
  align-content: center;

  ion-card-header {
    padding: 0;

    ion-button {
      align-self: flex-start;
    }
  }

  ion-card-content {
    background-color: #414068;
    display: flex;
    flex-direction: column;
    height: 75vh;

    #mensajes {
      overflow-y: auto;
      margin-bottom: 2.5rem;

      .msg {
        display: flex;
        flex-direction: column;
        min-width: 50.01%;
        max-width: 80%;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        margin: 5px;

        &.enviado {
          /* Mensajes propios */
          align-self: flex-end; /* Se alinea al final del eje principal (derecha) */
          margin-left: auto; /* Pega la burbuja al margen derecho */
          text-align: right;
          background-color: #039be6; /* Azul */
        }

        &.recibido {
          align-self: flex-start;
          text-align: left;
          background-color: #6b6b6b;
        }

        ion-text {
          word-wrap: break-word;
          color: #ffffff;
        }

        .alias {
          ion-text {
            font-size: large;
            margin: 0;
          }
        }

        .texto {
          font-size: 1.5rem;
        }

        .fecha-derecha {
          align-self: flex-end;
        }

        .fecha-izquierda {
          align-self: flex-start;
        }
      }
    }

    .info-mesa {
      color: #ffffff;
      font-weight: bold;
      padding-bottom: 1px;
      margin-bottom: 1px;
      align-self: flex-end;
      font-size: 1rem;
      max-width: fit-content;
    }

    .card-body::-webkit-scrollbar {
      display: none;
    }

    .card-footer {
      position: fixed;
      padding-bottom: 20px;
      width: 90%;
      bottom: 0;
      background-color: #414068;

      #enviar:active {
        transform: scale(0.7);
      }
    }
  }
}
